<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Event Schedule Calendar</title>
  </head>
  <body>
    <div class="container-fluid">
      <div id="header">
        <div class="d-sm-flex justify-content-between">
          <button type="button" class="btn" id="backButton">Back</button>
          <div id="month">January XXXX</div>
          <button type="button" class="btn" id="nextButton">Next</button>
        </div>
        <a href="/calendar/create-event">Create An Event</a>
      </div>
      <div class="m-4" id="calendar">
        <div id="calendarHeading">
          <div class="row flex-nowrap" id="days">
            <div class="weekdays col">Sunday</div>
            <div class="weekdays col">Monday</div>
            <div class="weekdays col">Tuesday</div>
            <div class="weekdays col">Wednesday</div>
            <div class="weekdays col">Thursday</div>
            <div class="weekdays col">Friday</div>
            <div class="weekdays col">Saturday</div>
          </div>
        </div>
        <div class="flex-nowrap row calendarData">
          <div class="daysCol col sundayCol"></div>
          <div class="daysCol col mondayCol"></div>
          <div class="daysCol col tuesdayCol"></div>
          <div class="daysCol col wednesdayCol"></div>
          <div class="daysCol col thursdayCol"></div>
          <div class="daysCol col fridayCol"></div>
          <div class="daysCol col saturdayCol"></div>
        </div>
      </div>
    </div>
    <script src="/js/calendar.js"></script>
  </body>
</html>
