<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Event</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <a href="/calendar">Back</a>
      <form type="submit" action="/calendar" method="post">
        <label for="event-date">Event Date</label>
        <input type="date" name="date" />
        <label for="event-date">User</label>
        <input type="text" name="user" /><br />
        <label for="event-date">Location</label>
        <input type="text" name="location" />
        <label for="event-date">Time</label>
        <input type="time" name="time" />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
