@import url("https://fonts.googleapis.com/css2?family=Fruktur&display=swap");
body {
  background-color: rgb(60, 173, 173) !important;
}
.daysCol {
  height: 12vh;
  text-align: center;
  border: 0.1vw solid black;
  background-color: rgb(45, 204, 204);
  font-size: 1.5vh;
  font-family: "Fruktur", cursive;
  color: white;
}
#days {
  font-family: "Fruktur", cursive;
  font-size: 1vw;
  color: white;
  text-align: center;
}
#month {
  text-align: center;
  font-family: "Fruktur", cursive;
  font-size: 2vw;
}
.weekdays {
  background-color: lightslategray;
  border: 0.1vw solid black;
}
.btn {
  margin: 1vw 5vw;
  width: 20vw;
  font-family: "Fruktur", cursive;
}
